<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<jamg-top-button class="bottom-80"></jamg-top-button>
<jamg-top-button class="bottom-60" text="Subir"></jamg-top-button>
<jamg-top-button class="bottom-40" text="Ir arriba" variant="primary"></jamg-top-button>
<jamg-top-button class="bottom-20" text="Volver arriba" variant="secondary"></jamg-top-button>
<jamg-top-button class="bottom-0" text="Subir" variant="default"></jamg-top-button>